<%= form_with(model: boxer_pallet, local: true) do |form| %>
  <% if boxer_pallet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(boxer_pallet.errors.count, "error") %> prohibited this boxer_pallet from being saved:</h2>

      <ul>
        <% boxer_pallet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :label %>
    <%= form.text_field :label, class: "form-control", value: boxer_pallet.label %>
  </div>
  <div class="form-group">
    <%= form.label :category %>
    <%= form.select :category,
                    options_for_select(Category.pluck(:name, :id), boxer_pallet.category),
                    { class: 'form-control' }
    %>
  </div>
  <div class="form-group">
    <%= form.label :destination %>
    <%= form.text_field :destination, class: "form-control", value: boxer_pallet.destination %>
  </div>
  <div class="form-group">
    <%= form.label :location %>
    <%= form.text_field :location, class: "form-control", value: boxer_pallet.location %>
  </div>
  <div class="form-group">
    <%= form.label :pallet_type_id %>
    <%= form.select :pallet_type_id,
                    options_for_select(PalletType.pluck(:name, :id), boxer_pallet.pallet_type_id),
                    { class: 'form-control' }
    %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
