<p id="notice"><%= notice %></p>


<table>
  <tr>
    <th>label</th>
    <th>value</th>
    <th>category</th>
    <th>pallet type</th>
  </tr>

  <tr>
    <td><%= @grading_pallet.label %></td>
    <td><%= @grading_pallet&.value %> </td>
    <td><%= @grading_pallet&.category&.name %> </td>
    <td><%= @grading_pallet.pallet_type.name %> </td>
  </tr>
</table>


<%= link_to 'Edit', edit_grading_pallet_path(@grading_pallet) %> |
<%= link_to 'Back', grading_pallets_path %>
